@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4">Welcome to MovieMvcCore Udemy Task based Project!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="lead">Explore our collection of movies and discover your next favorite!</p>

    <div class="mt-4">
        <a class="btn btn-primary btn-lg mr-2" asp-controller="Movies" asp-action="">View Movies</a>
        <a class="btn btn-secondary btn-lg" asp-action="Privacy">Privacy Policy</a>
    </div>

    <div class="mt-5">
        <img src="~/img/img1.jpeg" alt="Movies" class="img-fluid rounded" />
    </div>
</div>
